/* Основной стиль для тела документа */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Стили для header */
header {
    background-color: #333;
    padding: 10px;
    color: white;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Стили для навигации */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Стили для выпадающего меню */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающее меню по умолчанию скрыто */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 10px;
}

/* Стили для отображения меню */
.dropdown-menu.show {
    display: block; /* Показываем меню, когда добавляется класс 'show' */
}

/* Стили для элементов выпадающего меню */
.dropdown-menu li {
    margin-bottom: 5px;
}

.dropdown-menu a {
    color: black;
    text-decoration: none;
}

/* Стили для формы поиска */
.search-form {
    display: flex;
}

.search-form input {
    padding: 5px;
    font-size: 14px;
}

.search-form button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

/* Стили для основного контента */
main {
    padding: 20px;
}

/* Стили для footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
