{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'goods/style.css' %}">
{% endblock %}

{% block content %}
<main style="display: flex;">
    <aside class="categories">
        <h2>Категории</h2>
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'catalog:index' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </aside>

    <section class="products">
        <h2>Товары</h2>
        <div class="product-list">
            {% for product in goods %}
                <div class="product">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img src="https://via.placeholder.com/150" alt="">
                    {% endif %}
                    <a href="{% url 'catalog:product' product.slug %}">
                        <h3>{{ product.name }}</h3>
                    </a>
                    {% if product.discount %}
                        <p>{{ product.sell_price }}</p>
                        <p>скидка {{ product.discount }} %</p>
                    {% else %}
                        <p>{{ product.price }} руб.</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
