{% extends 'main/base.html' %}
{% load static %}

{% block css %}
	    <link rel="stylesheet" href="{% static 'goods/product.css' %}">
{% endblock %}

{% block product %}
    <main>
        <div class="product-details">
            <div class="product-image">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                    <img src="https://via.placeholder.com/150" alt="">
                {% endif %}
            </div>
            <div class="product-info">
                <h1>{{ product.name }}</h1>
                <p class="price">{{ product.sell_price }}</p>
                <p class="description">
                    {{ product.description }}
                </p>
                <button class="add-to-cart">Добавить в корзину</button>
            </div>
        </div>
    </main>
{% endblock %}
