body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
    color: white;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.search-form {
    display: flex;
}

.search-form input {
    padding: 5px;
    font-size: 14px;
}

.search-form button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

main {
    display: flex;
    padding: 20px;
}

.categories {
    width: 200px; /* Ширина для бокового меню */
    margin-right: 20px; /* Отступ между категориями и товарами */
}

.categories ul {
    list-style-type: none;
    padding: 0;
}

.categories ul li {
    margin-bottom: 10px;
}

.categories ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.products {
    flex: 1; /* Занимает оставшееся пространство */
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Отступ между товарами */
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    width: calc(25% - 20px); /* 25% ширины для 4 товаров в ряд с учетом отступа */
    box-sizing: border-box; /* Включаем отступы и границы в расчет ширины */
}

.product img {
    width: 100%; /* Адаптация ширины изображения */
    height: auto; /* Автоматическая высота */
    object-fit: cover;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin: 10px 0;
}

.product p {
    font-size: 16px;
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Адаптивные стили */
@media (max-width: 1200px) {
    .product {
        width: calc(33.33% - 20px); /* 3 товара в ряд на средних экранах */
    }
}

@media (max-width: 800px) {
    .product {
        width: calc(50% - 20px); /* 2 товара в ряд на меньших экранах */
    }
}

@media (max-width: 500px) {
    .product {
        width: 100%; /* 1 товар в ряд на мобильных экранах */
    }
}
